openapi: 3.0.3
info:
  title: E-commerce API
  description: API for managing orders, invoices, and billing
  version: 1.0.0

servers:
  - url: https://my-ecom-store.com/api/v1

paths:
  /orders:
    post:
      summary: Create a new order
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                orderId:
                  type: string
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      productId:
                        type: string
                      quantity:
                        type: integer
                paymentMethod:
                  type: string
                  
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                  status:
                    type: string
                  message:
                    type: string
        '400':
          description: Invalid request
        
        '429':
          description: Too many requests
  
  /orders/{orderId}:
    get:
      summary: Create a new order
      tags:
        - Orders
      parameters:
        - name: orderId
          in: path
          required: true
          description: Unique identifier of the order
          schema:
            type: string
      responses:
        '200':
          description: Order details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                  status:
                    type: string
                  paymentStatus:
                    type: string
                  totalAmount:
                    type: number
                  trackingNumber:
                    type: string
        '400':
          description: Invalid request
        '429':
          description: Too many requests
